@font-face {
  font-family: 'itcid22';
  font-display: swap;
  src:  url('./itcidercss2.eot?f2bix4');
  src:  url('./itcidercss2.eot?f2bix4#iefix') format('embedded-opentype'),
    url('./itcidercss2.ttf?f2bix4') format('truetype'),
    url('./itcidercss2.woff?f2bix4') format('woff'),
    url('./itcidercss2.svg?f2bix4#itcidercss2') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="itcici-"], [class*=" itcici-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'itcid22' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.itci-itc-add-submenu:before {
  content: "\e900";
}
.itci-itc-alert:before {
  content: "\e901";
}
.itci-itc-align-center:before {
  content: "\e902";
}
.itci-itc-align-justify:before {
  content: "\e903";
}
.itci-itc-align-left:before {
  content: "\e904";
}
.itci-itc-align-right:before {
  content: "\e905";
}
.itci-itc-android:before {
  content: "\e906";
}
.itci-itc-apple:before {
  content: "\e907";
}
.itci-itc-arrow-down:before {
  content: "\e908";
}
.itci-itc-arrow-next:before {
  content: "\e909";
}
.itci-itc-arrow-prev:before {
  content: "\e90a";
}
.itci-itc-arrow-up:before {
  content: "\e90b";
}
.itci-itc-bold:before {
  content: "\e90c";
}
.itci-itc-bookmark:before {
  content: "\e90d";
}
.itci-itc-bootstrap:before {
  content: "\e90e";
}
.itci-itc-briefcase:before {
  content: "\e90f";
}
.itci-itc-browse:before {
  content: "\e910";
}
.itci-itc-bulleted-list:before {
  content: "\e911";
}
.itci-itc-calendar:before {
  content: "\e912";
}
.itci-itc-camera:before {
  content: "\e913";
}
.itci-itc-cart-add:before {
  content: "\e914";
}
.itci-itc-cart-full:before {
  content: "\e915";
}
.itci-itc-cash:before {
  content: "\e916";
}
.itci-itc-change-style:before {
  content: "\e917";
}
.itci-itc-chat:before {
  content: "\e918";
}
.itci-itc-clock:before {
  content: "\e919";
}
.itci-itc-close:before {
  content: "\e91a";
}
.itci-itc-cloud:before {
  content: "\e91b";
}
.itci-itc-code:before {
  content: "\e91c";
}
.itci-itc-contact-form:before {
  content: "\e91d";
}
.itci-itc-credit-card:before {
  content: "\e91e";
}
.itci-itc-cursor-click:before {
  content: "\e91f";
}
.itci-itc-cust-feedback:before {
  content: "\e920";
}
.itci-itc-database:before {
  content: "\e921";
}
.itci-itc-delivery:before {
  content: "\e922";
}
.itci-itc-desktop:before {
  content: "\e923";
}
.itci-itc-devices:before {
  content: "\e924";
}
.itci-itc-down:before {
  content: "\e925";
}
.itci-itc-download-2:before {
  content: "\e926";
}
.itci-itc-download:before {
  content: "\e927";
}
.itci-itc-drag-n-drop-2:before {
  content: "\e928";
}
.itci-itc-drag-n-drop:before {
  content: "\e929";
}
.itci-itc-edit-2:before {
  content: "\e92a";
}
.itci-itc-edit:before {
  content: "\e92b";
}
.itci-itc-error:before {
  content: "\e92c";
}
.itci-itc-extension:before {
  content: "\e92d";
}
.itci-itc-itcimage:before {
  content: "\e92e";
}
.itci-itc-file:before {
  content: "\e92f";
}
.itci-itc-flag:before {
  content: "\e930";
}
.itci-itc-folder:before {
  content: "\e931";
}
.itci-itc-gift:before {
  content: "\e932";
}
.itci-itc-github:before {
  content: "\e933";
}
.itci-itc-globe-2:before {
  content: "\e934";
}
.itci-itc-globe:before {
  content: "\e935";
}
.itci-itc-growing-chart:before {
  content: "\e936";
}
.itci-itc-hearth:before {
  content: "\e937";
}
.itci-itc-help:before {
  content: "\e938";
}
.itci-itc-home:before {
  content: "\e939";
}
.itci-itc-hot-cup:before {
  content: "\e93a";
}
.itci-itc-idea:before {
  content: "\e93b";
}
.itci-itc-image-gallery:before {
  content: "\e93c";
}
.itci-itc-image-slider:before {
  content: "\e93d";
}
.itci-itc-info:before {
  content: "\e93e";
}
.itci-itc-italic:before {
  content: "\e93f";
}
.itci-itc-key:before {
  content: "\e940";
}
.itci-itc-laptop:before {
  content: "\e941";
}
.itci-itc-layers:before {
  content: "\e942";
}
.itci-itc-left-right:before {
  content: "\e943";
}
.itci-itc-left:before {
  content: "\e944";
}
.itci-itc-letter:before {
  content: "\e945";
}
.itci-itc-like:before {
  content: "\e946";
}
.itci-itc-link:before {
  content: "\e947";
}
.itci-itc-lock:before {
  content: "\e948";
}
.itci-itc-login:before {
  content: "\e949";
}
.itci-itc-logout:before {
  content: "\e94a";
}
.itci-itc-magic-stick:before {
  content: "\e94b";
}
.itci-itc-map-pin:before {
  content: "\e94c";
}
.itci-itc-menu:before {
  content: "\e94d";
}
.itci-itc-itcicile-2:before {
  content: "\e94e";
}
.itci-itc-itcicile-horizontal:before {
  content: "\e94f";
}
.itci-itc-itcicile:before {
  content: "\e950";
}
.itci-itc-itcidercss:before {
  content: "\e951";
}
.itci-itc-more-horizontal:before {
  content: "\e952";
}
.itci-itc-more-vertical:before {
  content: "\e953";
}
.itci-itc-music:before {
  content: "\e954";
}
.itci-itc-new-file:before {
  content: "\e955";
}
.itci-itc-numbered-list:before {
  content: "\e956";
}
.itci-itc-opened-folder:before {
  content: "\e957";
}
.itci-itc-pages:before {
  content: "\e958";
}
.itci-itc-paper-plane:before {
  content: "\e959";
}
.itci-itc-paperclip:before {
  content: "\e95a";
}
.itci-itc-phone:before {
  content: "\e95b";
}
.itci-itc-photo:before {
  content: "\e95c";
}
.itci-itc-photos:before {
  content: "\e95d";
}
.itci-itc-pin:before {
  content: "\e95e";
}
.itci-itc-play:before {
  content: "\e95f";
}
.itci-itc-plus:before {
  content: "\e960";
}
.itci-itc-preview:before {
  content: "\e961";
}
.itci-itc-print:before {
  content: "\e962";
}
.itci-itc-protect:before {
  content: "\e963";
}
.itci-itc-question:before {
  content: "\e964";
}
.itci-itc-quote-left:before {
  content: "\e965";
}
.itci-itc-quote-right:before {
  content: "\e966";
}
.itci-itc-redo:before {
  content: "\e967";
}
.itci-itc-refresh:before {
  content: "\e968";
}
.itci-itc-responsive-2:before {
  content: "\e969";
}
.itci-itc-responsive:before {
  content: "\e96a";
}
.itci-itc-right:before {
  content: "\e96b";
}
.itci-itc-rocket:before {
  content: "\e96c";
}
.itci-itc-sad-face:before {
  content: "\e96d";
}
.itci-itc-sale:before {
  content: "\e96e";
}
.itci-itc-save:before {
  content: "\e96f";
}
.itci-itc-search:before {
  content: "\e970";
}
.itci-itc-setting-2:before {
  content: "\e971";
}
.itci-itc-setting-3:before {
  content: "\e972";
}
.itci-itc-setting:before {
  content: "\e973";
}
.itci-itc-share:before {
  content: "\e974";
}
.itci-itc-shopping-bag:before {
  content: "\e975";
}
.itci-itc-shopping-basket:before {
  content: "\e976";
}
.itci-itc-shopping-cart:before {
  content: "\e977";
}
.itci-itc-sites:before {
  content: "\e978";
}
.itci-itc-smile-face:before {
  content: "\e979";
}
.itci-itc-speed:before {
  content: "\e97a";
}
.itci-itc-star:before {
  content: "\e97b";
}
.itci-itc-success:before {
  content: "\e97c";
}
.itci-itc-sun:before {
  content: "\e97d";
}
.itci-itc-sun2:before {
  content: "\e97e";
}
.itci-itc-tablet-vertical:before {
  content: "\e97f";
}
.itci-itc-tablet:before {
  content: "\e980";
}
.itci-itc-target:before {
  content: "\e981";
}
.itci-itc-timer:before {
  content: "\e982";
}
.itci-itc-to-ftp:before {
  content: "\e983";
}
.itci-itc-to-local-drive:before {
  content: "\e984";
}
.itci-itc-touch-swipe:before {
  content: "\e985";
}
.itci-itc-touch:before {
  content: "\e986";
}
.itci-itc-trash:before {
  content: "\e987";
}
.itci-itc-underline:before {
  content: "\e988";
}
.itci-itc-undo:before {
  content: "\e989";
}
.itci-itc-unlink:before {
  content: "\e98a";
}
.itci-itc-unlock:before {
  content: "\e98b";
}
.itci-itc-up-down:before {
  content: "\e98c";
}
.itci-itc-up:before {
  content: "\e98d";
}
.itci-itc-update:before {
  content: "\e98e";
}
.itci-itc-upload-2:before {
  content: "\e98f";
}
.itci-itc-upload:before {
  content: "\e990";
}
.itci-itc-user-2:before {
  content: "\e991";
}
.itci-itc-user:before {
  content: "\e992";
}
.itci-itc-users:before {
  content: "\e993";
}
.itci-itc-video-play:before {
  content: "\e994";
}
.itci-itc-video:before {
  content: "\e995";
}
.itci-itc-watch:before {
  content: "\e996";
}
.itci-itc-website-theme-2:before {
  content: "\e997";
}
.itci-itc-website-theme:before {
  content: "\e998";
}
.itci-itc-wifi:before {
  content: "\e999";
}
.itci-itc-windows:before {
  content: "\e99a";
}
.itci-itc-zoom-in:before {
  content: "\e99b";
}
.itci-itc-zoom-out:before {
  content: "\e99c";
}
